div.span8 {
	position: relative;
}

#filter {
	position: absolute;
	top: 15px;
	right: 0px;
	height: 35px;
}

#filter input {
	border: 1px solid #F1F1F1;
	border-radius: 20px;
	width: 85px;
	padding-left: 15px;
	color: #949494;
}

div.profile-list img {
    display: block;
	float: left;
	margin-right: 20px;
	margin-top: -5px;
	width: 80px !important;
}

.searchable-container > h3 {
	border-bottom: 1px solid #E9E9E9;
	padding-bottom: 15px;
	padding-top: 20px;
	font-size: 20px;
	font-weight: 700;
}

div.profile-list {
    display: block;
    overflow: hidden;
	margin-bottom: 40px;
	margin-top: 30px;
}

div.profile-list p {
	margin-bottom: 0px;
}

div.profile-list h3.name {
	font-weight: bold;
	margin-bottom: 2px;
    margin-top: 0px;
	font-size: 19px;
}

div.profile-list div.info {
    float: left;
    clear: right;
}

div.profile-list .title, div.people-contact .title {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	color: #6B6B6B;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	position: relative;
}

div.people-contact .title {
	font-size: 18px;
	margin-bottom: 1em;
}

div.people-contact .contact {
	padding-top: 20px;
}

div.people-contact div.big-contact {
    padding-top: 10px;
}

div.people-contact {
	margin-top: 30px;
	display:inline-block;
    max-width: 340px;
	margin-left: 0px;
}

div.big-people-contact {
	margin-top: 20px;
}

div.wide-people-contact {
    display: block;
    margin-top: 40px;
    margin-left: 20px;
    max-width: 100%;
}

img.people-image {
	display:inline-block;
	width: 240px;
    margin-right: 40px;
    margin-top: 10px;
	float:left;
}

div.people-info {
	padding-top: 30px;
	clear: both;
}

@media (max-width: 979px) {
    div.people-contact {
        max-width: 100%;
    }
    img.people-image {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
